.app {
  display: grid;
  grid-gap: 10px;
  place-items: center;
  height: 100vh;
  background: rgb(18,9,158);
  background: linear-gradient(90deg, rgba(18,9,158,1) 0%, rgba(9,9,121,1) 0%, rgba(0,212,255,1) 100%);
}

.app__body{
  display: flex;
  background-color: rgb(166, 193, 216);
  margin: -50px;
  height: 90vh;
  width: 90vw;
  border-radius: 20px;
  box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.75);

}
